
@import "../../styles/main.scss";

.drag-swipper {
    width: 100vw;
    height: 100vh;
    padding: 10vh 0;
    transition: all 0.3s ease !important;

    .slide-content {
        padding: 32px 0;

        &__title {
            font-size: 36px;
            line-height: 60px;
            font-weight: 400;
            margin-bottom: 14px;
        }

        &__sub-title {
            font-size: 24px;
            line-height: 28px;
            color: $text-gray;
        }
    }

    .swiper-slide-next {
        transform: rotate(15deg) !important;
        transform-origin: bottom left;

        .slide-content {
            display: none;
        }
    }

    .swiper-slide-prev {
        transform: rotate(-15deg) !important;
        transform-origin: bottom right;

        .slide-content {
            display: none;
        }
    }


    .swiper-slide {
        text-align: center;
        background: #fff;
        // display: flex;
        width: 30% !important;
        height: 30rem !important;
        // position: relative;
        // justify-content: center;
        // align-items: center;
        // display: flex !important;
        // flex-direction: column !important;

        @media(max-width:500px) {
            .swiper-slide {
                min-width: 80% !important;
            }
        }

        // &:nth-child(n+2) {
        //     transform: rotate(15deg) !important;
        //     transform-origin: bottom left;
    
        //     .slide-content {
        //         display: none;
        //     } 
        // }

        // &:nth-child(n-2) {
        //     transform: rotate(-15deg) !important;
        //     transform-origin: bottom right;
    
        //     .slide-content {
        //         display: none;
        //     } 
        // }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slide-image {
        width: 100%;
        height: 100%;
    }
}